<!DOCTYPE html>
<html>
<head>
	<title></title>
	
</head>
<body>
   <p> 
   	write the words that you want to cipher, ande select the num  of pos that you want the char to change
   </p>

   <form>
   	<input type="text" name="text">
   	<select name="move">
   		<option value=5>5</option>
   		<option value=10>10</option>
   		<option value=15>15</option>
   		<option value=20>20</option>
   		<option value=25>25</option>
   		<option value=30>30</option>
   		<option value=40>40</option>
   		<option value=50>50</option>
   	</select>
   	<input type="submit" name="code" value="Code!">
   </form>

   <p>
   	<%=
   	if check 
   	"your code is #{code} "	
   	end
   	%>
   </p>
</body>
</html>